 <div class="body">
     <div class="background"></div>
  <div class="card">
    <img class="logo" src="/img/user.png">
    <h4>Change Pass</h4>
    <form class="form" method="post" action="/Change?_method=PUT">
      <input type="email" placeholder="Email" id="user" name="user" >
      <input type="password" placeholder="Password" id="pass" name="pass" onchange="check">
      <input type="password" placeholder="account authentication" id="passau" name="passau"  onchange="check">
      <button type="submit">Confirm</button>
    </form>
    {{#each err}}
    <p>{{err}}</p>
    {{/each}}
    <p id="errorMessage" style="color: red; display: none;">Passwords do not match.</p>
    <footer>
      Don't have a account
      <a href="/Signin">Sign in</a>
      <br>
      or
      <a href="/">Turn back</a>
    </footer>
  </div>
</div>

<script>

 function check() {
  var pass = document.getElementById('pass').value;
  var passau = document.getElementById('passau').value;
  var errorMessage = document.getElementById('errorMessage');

  if (pass !== passau) {
    errorMessage.style.display = 'block';
    return false; 
  }
  return true; 
}

document.addEventListener('DOMContentLoaded',function(){
  var form=document.querySelector('.form')
  form.addEventListener(('submit'),(e)=>{
       if(!check()){
        e.preventDefault()
       }
  })
})
</script>