<div>
    <h1>Home</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>USER</th>
                    <th>PASSWORD</th>
                    <th>ID</th>
                </tr>
            </thead>
            {{#each Users}}
            <tbody class="homeul">
                <tr>
                    <td>{{this.user}} &ensp;</td>
                    <td>{{this.pass}} &ensp;</td>
                    <td>{{this._id}} &ensp;</td>
                    <td><button data-id="{{this._id}}" class="BtnDelete" id="DeleteModal" type="button">Delete</button></td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
    <form method="POST" name="delete-data-form" action="/home/deleteDt?_method=DELETE"></form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const deleteform = document.forms['delete-data-form'];
        const deleteButtons = document.querySelectorAll('.BtnDelete');

        deleteButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                const id = button.getAttribute('data-id');
                console.log('ID:', id);

               
                const hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'id';
                hiddenInput.value = id;
                deleteform.appendChild(hiddenInput);

               
                deleteform.submit();
            });
        });
    });
</script>
