   <div class="body">
     <div class="background"></div>
  <div class="card">
    <img class="logo" src="images.png">
    <h4>Login</h4>
    <form class="form">
      <input type="email" placeholder="Email ">
      <input type="password" placeholder="Password">
      <button>Log in</button>
    </form>

    <footer>
      Don't have a account
      <a href="/Signin">Sign in</a>
    </footer>
  </div>
</div>