 <div class="body">
     <div class="background"></div>
  <div class="card">
    <img class="logo" src="images.png">
    <h4>Login</h4>
    <form class="form">
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <input type="password" placeholder="account authentication">
      <button>Sign in</button>
    </form>

    <footer>
      Have a account?
      <a href="/">Log in</a>
    </footer>
  </div>
</div>